<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Revised by</span>
    <a b-slate-link href="https://nhtlongcs.com" target="_blank">
      nhtlongcs
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/nhtlongcs/llm-social-engineering-challenge"
      target="_blank"
    >
      Source Code</a
    >
  </p>
</footer>
